<div class="container">
  <h1> My Orders </h1>
  <div class="row row-fluid">
    <% @orders.each do |order| %>
      <div class="col-md-4 list">
        <div class="order">
          <div class="pull-right qty" > <%= "#{order.number_of_cans} #{"Can".pluralize(order.number_of_cans.to_i)}" %> </div>
          <h6> <%= order.created_at.strftime("%d %b %Y %l:%M %p") %></h6>
          <p><%= current_user.address %></p>
          <p><%= current_user.mobile %></p>
          <hr />
          <div class="icons-set clearfix">
            <div class="pull-left"><h5><%= order.water_brand.upcase %></h5></div>
            <div class="pull-right">
              <%= link_to  edit_order_path(order) do %>
                <i class="material-icons">mode_edit</i> 
              <% end %>
              <i class="material-icons" data-toggle="modal" data-target="#order-show-<%= order.id %>">info_outline</i> 
              <%= link_to order_path(order), "data-confirm" => "Are you Sure?", :method => :delete do %>
                <i class="material-icons">delete</i>
              <% end %>
            </div>
            <%= render partial: "show", locals: {order: order} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>