<!DOCTYPE html>
<html>
  <head>
    <title>Water</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <body>
    <nav class="navbar navbar-info">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:void(0)">Water</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="javascript:void(0)">Active</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Order Can",new_order_path %></li>
            <li class="dropdown">
              <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Account
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if user_signed_in? %>
                  <li><%= link_to "Account Update",edit_user_registration_path %></li>
                  <li><%= link_to "My Orders",orders_path %></li>
                  <li><%= link_to "Sign Out",destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to "Sign In",new_user_session_path %></li>
                  <li><%= link_to "Sign Up",new_user_registration_path %></li>
                <% end -%>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="col-md-12">
      <br><%= flash_messages %>
    </div>
    <%= yield %>
  </body>
</html>
